.main-content-wrapper {
  /* position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms; */
 /*  transition-duration: 500ms;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;  */
  }
 .main-content-wrapper .header-area {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    width: 200px;
    max-width: 200px;
    background-color: #fff;
    padding: 50px 50px;
    margin-left: 100px;
    margin-top: 100px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .main-content-wrapper .header-area {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
        flex: 0 0 280px;
        width: 280px;
        max-width: 280px;
        padding: 50px; } }
    @media only screen and (max-width: 767px) {
      .main-content-wrapper .header-area {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
        flex: 0 0 320px;
        width: 250px;
        max-width: 320px;
        position: fixed;
        z-index: 4000;
        top: 0;
        left: -350px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        display: block; } }
.mobile-nav {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  display: none; }
  @media only screen and (max-width: 767px) {
    .mobile-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
.mobile-nav .amado-navbar-toggler {
    cursor: pointer; }
    .mobile-nav .amado-navbar-toggler span {
      width: 28px;
      height: 3px;
      background-color: #fbb710;
      display: block;
      margin-bottom: 5px;
      border-radius: 2px; }
      .mobile-nav .amado-navbar-toggler span:last-child {
        margin-bottom: 0; }
.main-content-wrapper .header-area .amado-nav li a {
      font-size: 20px;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      padding: 20px 0;
      display: block;
      line-height: 0.9;
      color: #131212;
      font-weight: normal; }
      .main-content-wrapper .header-area .amado-nav li a::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 50px;
        height: 5px;
        position: absolute;
        top: 50%;
        margin-top: -1.5px;
        left: -100px;
        background-color: #7540aa;
        z-index: 10;
        content: ''; }
      .main-content-wrapper .header-area .amado-nav li a:hover, .main-content-wrapper .header-area .amado-nav li a:focus {
        color: #fbb710; }
    .main-content-wrapper .header-area .amado-nav li:hover a::after, .main-content-wrapper .header-area .amado-nav li:focus a::after {
      left: -75px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .main-content-wrapper .header-area .amado-nav li:hover a::after, .main-content-wrapper .header-area .amado-nav li:focus a::after {
          left: -50px; } }
    .main-content-wrapper .header-area .amado-nav li.active a::after {
      left: -75px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .main-content-wrapper .header-area .amado-nav li.active a::after {
          left: -50px; } }